<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902426529724-3cf230gkokqtdps4p177jr0du7fjbsas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902426529724-3cf230gkokqtdps4p177jr0du7fjbsas</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>902426529724-mgshm74v2n7bdomlmd14db3a0e11him9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8rB_FVnrsVBN9sHqCjAzgmEitn0Hq4jo</string>
	<key>GCM_SENDER_ID</key>
	<string>902426529724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gcechs.app</string>
	<key>PROJECT_ID</key>
	<string>gcechs-org</string>
	<key>STORAGE_BUCKET</key>
	<string>gcechs-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902426529724:ios:7a2c0515ebafd5aee8a5b9</string>
	<key>DATABASE_URL</key>
	<string>https://gcechs-org-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>